MCA-1st-Sem-Shridevi-College-main/.gitignore
MCA-1st-Sem-Shridevi-College-main/Assignment Questions.docx
MCA-1st-Sem-Shridevi-College-main/MCA2024 (1).pdf
MCA-1st-Sem-Shridevi-College-main/README.md
MCA-1st-Sem-Shridevi-College-main/Resume Building Using AI.pptx
MCA-1st-Sem-Shridevi-College-main/Books/C-PROGRAMMING-Book.pdf
MCA-1st-Sem-Shridevi-College-main/Books/let-us-c-yashwant-kanetkar_compress.pdf
MCA-1st-Sem-Shridevi-College-main/Internals/1st Internal/1st Internal Assignment Questions.docx
MCA-1st-Sem-Shridevi-College-main/Internals/1st Internal/1st Internal Paper.docx
MCA-1st-Sem-Shridevi-College-main/Internals/1st Internal/C-First Internal Question Paper.pdf
MCA-1st-Sem-Shridevi-College-main/Internals/2nd Internal/C-2nd Internal Question Paper with Scheme.docx
MCA-1st-Sem-Shridevi-College-main/Lab Programs/All Programs/Simple Calculator/UsingIf.c
MCA-1st-Sem-Shridevi-College-main/Lab Programs/All Programs/Simple Calculator/UsingSwitch.c
MCA-1st-Sem-Shridevi-College-main/Lab Programs/Pramod/main.c
MCA-1st-Sem-Shridevi-College-main/Lab Programs/Pramod/Pramod.cbp
MCA-1st-Sem-Shridevi-College-main/Lab Programs/Pramod/Pramod.depend
MCA-1st-Sem-Shridevi-College-main/Lab Programs/Pramod/Pramod.layout
MCA-1st-Sem-Shridevi-College-main/Lab Programs/Pramod/bin/Debug/Pramod.exe
MCA-1st-Sem-Shridevi-College-main/Lab Programs/Pramod/obj/Debug/main.o
MCA-1st-Sem-Shridevi-College-main/Lab Programs/Simple Calculator/main.c
MCA-1st-Sem-Shridevi-College-main/Lab Programs/Simple Calculator/Simple Calculator.cbp
MCA-1st-Sem-Shridevi-College-main/Lab Programs/Simple Calculator/Simple Calculator.layout
MCA-1st-Sem-Shridevi-College-main/Lab Programs/Simple Calculator/bin/Debug/Simple Calculator.exe
MCA-1st-Sem-Shridevi-College-main/Lab Programs/Simple Calculator/obj/Debug/main.o
MCA-1st-Sem-Shridevi-College-main/Lab Programs/Test Dev C++/main.c
MCA-1st-Sem-Shridevi-College-main/Lab Programs/Test Dev C++/main.o
MCA-1st-Sem-Shridevi-College-main/Lab Programs/Test Dev C++/Makefile.win
MCA-1st-Sem-Shridevi-College-main/Lab Programs/Test Dev C++/Project2.dev
MCA-1st-Sem-Shridevi-College-main/Lab Programs/Test-C/commandLine.c
MCA-1st-Sem-Shridevi-College-main/Lab Programs/Test-C/demo.c
MCA-1st-Sem-Shridevi-College-main/Lab Programs/Test-C/main.c
MCA-1st-Sem-Shridevi-College-main/Lab Programs/Test-C/pramod.c
MCA-1st-Sem-Shridevi-College-main/Lab Programs/Test-C/pramod.txt
MCA-1st-Sem-Shridevi-College-main/Lab Programs/Test-C/ReadMe.md
MCA-1st-Sem-Shridevi-College-main/Lab Programs/Test-C/test.c
MCA-1st-Sem-Shridevi-College-main/Model QP/C Model QP-1.pdf
MCA-1st-Sem-Shridevi-College-main/Model QP/C Model QP-2.pdf
MCA-1st-Sem-Shridevi-College-main/Model QP/C Model QP-3.pdf
MCA-1st-Sem-Shridevi-College-main/Model QP/C Model QP-4.pdf
MCA-1st-Sem-Shridevi-College-main/Theory Class-Notes/C Programming Syllabus.pptx
MCA-1st-Sem-Shridevi-College-main/Theory Class-Notes/Unit-1 Basics of C Programming.pptx
MCA-1st-Sem-Shridevi-College-main/Theory Class-Notes/Unit-2 Arrays and Strings.pptx
MCA-1st-Sem-Shridevi-College-main/Theory Class-Notes/Unit-3 Functions and Pointers.pptx
MCA-1st-Sem-Shridevi-College-main/Theory Class-Notes/Unit-4 Structure and Union.pptx
MCA-1st-Sem-Shridevi-College-main/Theory Class-Notes/Unit-5 FILE PROCESSING.pptx
MCA-1st-Sem-Shridevi-College-main/Theory Class-Notes/Old/Unit-2 Arrays and Strings Temp Backup.pptx
